body{
	font-family: Arial;
	text-align: center;
	background-color:#003666;
	color: #f2f2f2;
}

h1{
	margin-top: 30;
	font-size: 30;
}

#mainPart{
	width: 900;
	height: auto;
	margin: auto;
}

canvas{
	display: inline-block;	
	height: 500;
	width: 500;
	float: left;
	border: 2px solid #f2f2f2;
}

#rightSide{
	font-size: 17;
	display: inline-block;
	height: auto;
	width: 300;
	float: right;
}

#parametersArea{
	height: auto;
	width: 300;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	margin-bottom: 10;
}


#parametersArea p{
	font-size: 20;
	font-weight: bold;	
	margin: 10 5;
}

form{
	line-height: 32px;
	margin-bottom: 5px;
}

#layoutSelector{
	margin-right: 10;
}

#moveButton{
	border-radius: 3px;
	margin-bottom: 5px;
	cursor: pointer;
	margin-left: 10;
}

#suggestions{
	height: auto;
	width: 300;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
}

#suggestions p{
	margin: 5 5;
}


